// Colors
$primary-color: #142838;
$secondary-color: #849a9f;
$accent-color: #faa8b8;
$dark-color: #2d2d39;
$light-color: #f8f9fa;
$text-color: #333;
$text-light: #6c757d;

// Spacing
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2.5rem;
$spacing-xl: 3.5rem;


// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Other
$border-radius: 16px;
$transition-speed: 0.3s;
$header-height: 80px;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

